{% extends "main.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block title %}Главная страница{% endblock %}

     {% block content %}

         <div class="container">
        <div id="header">
            		<!-- Header -->
		<header id="header">
			<!-- Top Header -->
			<div id="top-header">
				<div class="container">
					<div class="header-links">
						<ul>
                        {% url "main" as page_url %}
                        <li><a href="{{ page_url }}"{% if page_url == currnt_url %}
                        class="current"{% endif %}>Главная</a></li>
                        {% url "news_index" as page_url %}
                        <li class="indented"><a href="{{ page_url }}"{% if page_url == current_url %}
                        class="current"{% endif %}>Новости</a></li>
                        {% url "blog_index" as page_url %}
                        <li><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>Блог</a></li>
                        {% url "guestbook" as page_url %}
                        <li><a href="{{ page_url }}"{% if page_url == currnt_url %}
                        class="current"{% endif %}>Гостевая</a></li>
                        {% url "contacts" as page_url %}
                        <li class="indented"><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>Контакты</a></li>
                        {% url "howtobuy" as page_url %}
                        <li><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>Оплата</a></li>
                        {% url "about" as page_url %}
                        <li><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>О нас</a></li>
                        {% if user.is_authenticated %}
                            {% url "categories_edit" as page_url %}
                            <li class="indented"><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>Категории</a></li>
                            <li{# class="indented"#}><a href="/admin/">Админка</a></li>
                            <li class="indented"><a href="{% url "logout" %}">Выйти</a></li>
                            {% else %}
                            <li><a href="{% url "login" %}"><i class="fa fa-sign-in"></i> Вход</a></li>
                        {% endif %}
						</ul>
					</div>
					<div class="header-social">
						<ul>
							<li><a href="https://ru-ru.facebook.com/scaniagroup/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/scaniagroup"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/+scania"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.instagram.com/scaniagroup/"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.youtube.com/channel/UCr7JOoXij1Vgq-6KOeB7_bA"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Top Header -->

			<!-- Center Header -->
			<div id="center-header">
				<div class="container">
                    <div class="col-lg-12 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
					<div class="header-logo">
						<a href="https://www.scania.com/world/#/" class="logo"><img src="static/img/scania-logo-1.png" alt=""></a>
                    </div>
                    </div>
				</div>
			</div>
			<!-- /Center Header -->

			<!-- Nav Header -->
			<div id="nav-header">
				<div class="container">
                    <nav class="collapse navbar-collapse" id="main-nav">
						<div class="nav-logo">
							<a href="#" class="logo"><img src="{% static "img/scania-logo.jpg"%}" alt=""></a>
						</div>
						<ul class="main-nav nav navbar-nav">
                        {% for object in categories %}
                            {% url "goods_index" pk=object.pk as page_url %}
                            <li{% if forloop.first %} class="indented"{% endif %}><a href="{{ page_url }}"{% if page_url == current_url %} class="current"{% endif %}>{{ object.name }}</a></li>
                        {% endfor %}
						</ul>
                    </nav>
                    <div class="button-nav">
						<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav"><i class="fa fa-bars"></i></button>
				    </div>
				</div>
			</div>
			<!-- /Nav Header -->
		</header>
		<!-- /Header -->
        </div>



    <div id="testCarousel" class="carousel slide" data-ride="carousel">
	<!-- Индикаторы карусели -->
	<ol class="carousel-indicators">
		<!-- Перейти к слайду №0 с помощью соответствующего атрибута с индексом data-slide-to="0" -->
		<li data-target="#testCarousel" data-slide-to="0" class="active"></li>
		<!-- Перейти к слайду №1 с помощью соответствующего индекса data-slide-to="1" -->
		<li data-target="#testCarousel" data-slide-to="1"></li>
		<!-- Перейти к слайду №1 с помощью соответствующего индекса data-slide-to="2" -->
		<li data-target="#testCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Слайды карусели -->
	<div class="carousel-inner">
		<!-- Слайд 1 -->
		<div class="item active">
            <div class="article-img">
			<img src="static/img/img-lg-1.jpg" alt="...">
                <div class="article-body">
					<ul class="article-info">
						<li class="article-category"><a href="/news/">News</a></li>
						<li class="article-type"><i class="fa fa-camera"></i></li>
					</ul>
					<h2 class="article-title"><a href="#">Scania представляет новую технику на выставке Mining World Russia 2018</a></h2>
					<ul class="article-meta">
						<li><i class="fa fa-clock-o"></i> January 31, 2018</li>
						<li><i class="fa fa-comments"></i> 33</li>
					</ul>
                </div>

				</div>
		</div>
		<!-- Слайд 2 -->
		<div class="item">
            <div class="article-img">
			<img src="static/img/img-lg-2.jpg" alt="...">
			    <div class="article-body">
					<ul class="article-info">
						<li class="article-category"><a href="/news/">News</a></li>
						<li class="article-type"><i class="fa fa-file-text"></i></li>
					</ul>
					<h2 class="article-title"><a href="#">Scania представляет новую технику на выставке Mining World Russia 2018</a></h2>
					<ul class="article-meta">
						<li><i class="fa fa-clock-o"></i> January 31, 2018</li>
						<li><i class="fa fa-comments"></i> 33</li>
					</ul>
				</div>
            </div>
		</div>
		<!-- Слайд 3 -->
		<div class="item">
            <div class="article-img">
			<img src="static/img/img-lg-3.jpg" alt="...">
                <div class="article-body">
					<ul class="article-info">
						<li class="article-category"><a href="/news/">News</a></li>
						<li class="article-type"><i class="fa fa-camera"></i></li>
					</ul>
					<h2 class="article-title"><a href="#">Scania представляет новую технику на выставке Mining World Russia 2018</a></h2>
					<ul class="article-meta">
						<li><i class="fa fa-clock-o"></i> January 31, 2018</li>
						<li><i class="fa fa-comments"></i> 33</li>
					</ul>
				</div>
            </div>
		</div>
	</div>

	<!-- Навигация карусели (следующий или предыдущий слайд) -->
	<!-- Кнопка, переход на предыдущий слайд с помощью атрибута data-slide="prev" -->
	<a class="left carousel-control" href="#testCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<!-- Кнопка, переход на следующий слайд с помощью атрибута data-slide="next" -->
	<a class="right carousel-control" href="#testCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
        <div class="row">
              <div id="main">
                {% block main %}
                    <h2>Все для Скании</h2>
                <p>Фирма &quot;Скания-Запчасть&quot; продает все необходимые зап. части
  для автомобилей Scania.</p>
                <h3>Новости</h3>
                    {% for object in news %}
                        <h4><a href="{% url "news_detail" pk=object.pk %}">{{ object.title }}</a></h4>
                        <p>{{ object.description}}</p>
                        <p class="posted">{{ object.posted|date:"j.m.Y H:i:s" }}</p>
                    {% endfor %}
                <h3>Рекомендуемые товары</h3>
                    <div class="table-responsive">
                        <table class="table">
                        {% for object in goods %}
                          <tr>
                            <td class="centered"><a href="{% url "goods_detail" pk=object.pk %}"><img src="{% thumbnail object.image "base" %}"><a></td>
                            <td><a href="{% url "goods_detail" pk=object.pk %}">{{ object.name }}</a></td>
                            <td>{{ object.description }}</td>
                            <td class="centered">{% if object.price_acc > 0 %}<span class="old-price">{{ object.price }}</span><br>{{ object.price_acc }}{% else %}{{ object.price }}{% endif %} руб.</td>
                            <td class="centered">{% if object.in_stock %}В наличии{% endif %}</td>
                          </tr>
                        {% endfor %}
                        </table>
                    </div>
                {% endblock %}
              </div>
        </div>
 <div>
        <div id="footer">
            <p>2018</p>
        </div>
{% endblock %}